html, body {
    min-height: 100%;
    position:relative;
    
    /* background-color:#426aee; */
    /* background-color:#f17d35;*/
    background-color:#60c5ff; 
    /* background-image: linear-gradient(147deg,#ac521a 10%,#f17d35 80%); */
    /* background-image: linear-gradient(147deg, #26da4d, #69a85d); */
}

.jumbotron {
    /* border-style:solid; */
    /* background-color: #ff6e1b; */
    /* background-color: #228b31 ;*/
    background: #3173ff;
    /* background-image: linear-gradient(147deg,#162a19 10%,#3a7343 80%); */
}
/* -------------------------------- */



/* html elements */
h1 {
    font-size: 4em;
    color: white;
}

h2 {
    color: white;
}

a {
    color: Black;
}

p {
    color: white !important;
}
/* -------------------------------- */



/* progress bar */
.progress {
    height: 30px;
    position: relative;
    background-color: #ffffff !important;
}

.chart_text{
    color: Black !important;
    font-weight: bold !important;
}

.progress_1 {
    /* background-color: #3ea800 !important; */
    background-color: #00d841 !important;
}
.progress_2 {
    /* background-color: #cfc100 !important; */
    background-color: #ff9100 !important;
}
.progress_3 {
    /* background-color: #e40000 !important; */
    background-color: #ff1332de !important;
}
/* -------------------------------- */



/* custom indeterminate progress bar */
.indeterminate-progress-box {
    background-color: rgb(214, 214, 214);
    /* box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75); */
    height: 30px;
    border-radius: 5px;
}

.indeterminate-progress-block {
    animation-name: bar-movement;
    animation-play-state: running;

    animation-duration: 1s;
    /* animation-delay: 0s; */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    position: relative;
    top: -1px;
    left: -1px;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background: #ff3355;
}

@keyframes bar-movement {
    from {left: -1px;}
    to {left: calc(75% + 1px);}
}
/* -------------------------------- */


/* button */
.button_color{
    /* background-color: #cf0e0e !important; */
    background-color: #ff3355 !important;
    color: white !important;
}
/* -------------------------------- */



/* other stuff */
.center_div {
    margin: 0 auto;
    width:70%
}

.back_button{
    margin-left: 10px;
    margin-top: -100px;
}

.back_button::after{
    content: "back";
}
/* -------------------------------- */



/* mobile resizing */
@media (max-width: 575px){
    .back_button{
        margin-top: -40px;
    }
    .back_button::after{
        content: "<";
    }
    h1{
        font-size: 1.7em !important;
    }
    h2{
        font-size: 1em !important;
    }
}
/* -------------------------------- */