html, body {
    min-height: 100%;
    position:relative;

    /* background-color:#f17d35;*/
    background-color:#60c5ff; 
    /* background-image: linear-gradient(147deg,#ac521a 10%,#f17d35 80%); */
}

.jumbotron {
    /* border-style:solid; */
    /* background-color: #228b31 ;*/
    background: #3173ff;
}


/* html elements */
h1 {
    font-size: 4em;
    color: white;
}

h2 {
    color: white;
}

a {
    color: Black;
}

p {
    color: white !important;
}


/* progress bar */
.progress {
    height: 30px;
    position: relative;
    background-color: #ffffff !important;
}

.chart_text{
    color: Black !important;
    font-weight: bold !important;
}

.progress_1 {
    /* background-color: #3ea800 !important; */
    background-color: #00d841 !important;
}
.progress_2 {
    /* background-color: #cfc100 !important; */
    background-color: #ff9100 !important;
}
.progress_3 {
    /* background-color: #e40000 !important; */
    background-color: #ff1332de !important;
}


/* button */
.button_color{
    /* background-color: #cf0e0e !important; */
    background-color: #ff3355 !important;
    color: white !important;
}


/* other stuff */
.center_div {
    margin: 0 auto;
    width:70%
}

.back_button{
    margin-left: 10px;
    margin-top: -100px;
}

.back_button::after{
    content: "back";
}


/* mobile resizing */
@media (max-width: 575px){
    .back_button{
        margin-top: -40px;
    }
    .back_button::after{
        content: "<";
    }
    h1{
        font-size: 1.7em !important;
    }
    h2{
        font-size: 1em !important;
    }
}