a {
    color: Black;
}

p {
    color: white !important;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.chart_text{
    color: Black !important;
    font-weight: bold !important;
}

.center_div {
    margin: 0 auto;
    width:70%
}

.button {
    background-color: #ff0055;
    color: white;
  }

.jumbotron {
    /* border-style:solid; */
    background-color: #228b31 ;
    /* background-image: linear-gradient(147deg,#162a19 10%,#3a7343 80%); */
}


html, body {

    min-height: 100%;
    position:relative;
      
    background-color:#fc6304;
    background-image: linear-gradient(147deg,#ac521a 10%,#f17d35 80%);
    /* background-image: linear-gradient(147deg, #26da4d, #69a85d); */
   
}