{% extends "layout.html" %}

{% block body %}

    <div class="jumbotron error_page_jumbotron">
        <div class="center_div">
            <div class="center_error_Text">
                <h1>{{ code }}</h1>
                <h2>{{ description }}</h2>
                </br>
                <a class="btn small_button error_page_home_button float-left" href="/" role="button">Home</a>
                <a class="btn small_button error_page_try_another_button float-right" href="/upload" role="button">Test your image</a>
            </div>
        </div>
        </br>
    </div>

{% endblock body %}