{% extends "layout.html" %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">Deep predictor</h1>
        <p>Predict your image with our predictor now!</p>
        <hr class="my-4">
        <p>Deep predictor predicts your images and shows its results with a simple ui. Prediction confidences shown with bar charts for better visualization.</p>
        <p>We are constantly improving our results but results are experimental and we have no guarantee over the results.</p>
        <a class="btn btn-danger btn-lg" href="/upload" role="button">Test your image</a>
        </p>
    </div>
</br></br></br></br></br></br></br></br></br></br>

{% endblock body %}
