{% extends "layout.html" %}

{% block body %}

<div class="jumbotron jumbotron-fluid">

  <div class="center_div">
    <h1 class="display-4">Test Your Image</h1>
    
    <form method="POST" action="" enctype="multipart/form-data" id="image-form">

        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="customFile" accept=".jpg,.jpeg,.png" >
            <label class="custom-file-label" for="customFile">Choose image</label>
        </div>


        <p><input type="hidden" name="prediction_id" id="prediction_id"></p>
        <p><input type="hidden" name="model_name" id="model_name"></p>


        <div class="row">
            <div class="col-md-2">
                <input type="submit" value="Predict" class="btn btn-danger btn-lg">
            </div>

            <div class="col-md-8">

                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        {{models[0]}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for model in models %}
                            <a class="dropdown-item">{{model}}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <a class="btn btn-danger float-right" href="/" role="button">Main page</a>
            </div>
        </div>

    </form>
  </div>

</div>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br>


<script type="text/javascript"src="{{ url_for('static', filename='js/upload_controller.js') }}"></script>


{% endblock body %}